*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100vw;
  height: 100vh;
  font-family: Helvetica, sans-serif;
  background: #FFFDF9;
}

.datepicker {
  width: 256px;
  margin: 0 auto;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  position: relative;
  top: 15%;
}
.datepicker__calendar {
  background: #F7F4ED;
  width: 100%;
}
.datepicker__input {
  margin-bottom: 8px;
  position: relative;
  color: black;
  font-size: 16px;
  padding: 12px 20px;
  background: #F7F4ED;
  width: 100%;
}
.datepicker__input:hover {
  cursor: pointer;
}
.datepicker__input.onFocus:focus {
  outline: none;
}
.datepicker__label {
  display: block;
  color: #8A8F9F;
  font-size: 1.02rem;
  font-weight: 300;
  margin-bottom: 10px;
}

.calendar {
  max-height: 288px;
  overflow: hidden;
  padding: 16px;
  background: #F7F4ED;
  font-size: 15px;
  position: relative;
}
.calendar__header {
  width: 100%;
  margin-bottom: 12px;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.calendar__week-days, .calendar__days {
  display: grid;
  color: black;
  grid-template-columns: repeat(7, 1fr);
}
.calendar__days {
  margin-top: 10px;
  margin-bottom: 10px;
  grid-template-rows: repeat(5, 32px);
}
.calendar__week-days {
  font-weight: 700;
}
.calendar__day {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hidden {
  visibility: hidden;
}

.calendar-select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.calendar-select__value_small-gap {
  gap: 5px;
}
.calendar-select__icon {
  width: 10px;
  height: 6px;
}
.calendar-select__icon path {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.calendar-select_open .calendar-select__value {
  text-decoration: underline;
}
.calendar-select_open .calendar-select__icon path {
  fill: #151420;
}
.calendar-select__options {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #F7F4ED;
  z-index: 2;
  overflow-y: scroll;
  width: calc(100% - 32px);
  height: calc(100% - 64px);
  left: 16px;
  bottom: 16px;
  padding-right: 5px;
  display: none;
}
.calendar-select__options_open {
  display: block;
}
.calendar-select__options::-webkit-scrollbar {
  width: 3px;
}
.calendar-select__options::-webkit-scrollbar-thumb {
  background-color: black;
}
.calendar-select__option {
  padding: 7px 12px;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
  cursor: pointer;
}
.calendar-select__option_current, .calendar-select__option:hover {
  background: #FFFDF9;
}

button.date-cell {
  border: none;
  width: 32px;
  height: 32px;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 15px;
}
button.date-cell:not(:disabled) {
  cursor: pointer;
}
button.date-cell.today {
  background: gray;
}
button.date-cell.selected {
  background: #364c92;
}


